/* General styles */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../../images/back.jpg') no-repeat center center fixed;
  background-size: cover;
}

.register-content {
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8); /* White background with transparency */
  text-align: center;
}

.register-heading {
  margin-bottom: 20px;
  color: #007bff; /* Primary color */
}

.register-form {
  animation: fadeIn 1s ease; /* Fade in animation */
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="phonenumber"] { /* Corrected CSS for phone number input */
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.text-muted {
  font-size: 0.8rem;
  color: #6c757d; /* Text-muted color */
}

.register-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* Primary color */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-button:hover {
  background-color: #0056b3; /* Darker shade of primary color */
}

/* Media query for mobile view */
@media (max-width: 768px) {
  .register-content {
    width: 90%;
  }
}

/* Keyframe animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
